*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules.xml
app/src/main/java/db/LibGameRoomDatabase.java
LibGame/.idea/workspace.xml
